body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App{
  text-align: center;
}


.infoPokemon table {
  border-width:1px; 
  border-style:solid; 
  border-color:black;
  width:100%;
  }

.infoPokemon td { 
  border-width:1px;
  border-style:solid; 
  border-color:black;
  width:50%;
  text-align : center;
  }

  .retourAccueil{
    text-align: center;
    margin-top: 25px;
  }
.retourAccueil a {
    background-color: #555;
  color: white;
  padding: 1em 48%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  
}

.retourAccueil a:hover {
  background-color: #666;
  cursor: pointer;
}

.retourAccueil a:active {
  box-shadow: none;
  top: 5px;
}
